@{
    ViewBag.Title = "Home Page";
}

<div class="cover-landing text-center row bg-light">
    <div class="col-md-6 mx-auto">
        <h1 class="display-4">Task Management App Made Wonderfully Simple</h1>
        <p class="lead">Web-based task management application, that you can create a task list, manage, track, stay up to date. Feel free to sign up, and enjoy the free task management.</p>
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign Up now, it's FREE!</a></p>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2 class="text-center mb-5">Feature List</h2>
            <div class="row">
                <div class="col-md-4">
                    <h4>Unlimited tasks</h4>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-outline-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h4>Set due date</h4>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-outline-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h4>Edit & Delete quckly</h4>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-outline-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>